<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration
	xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console"
		class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{yyyy-MM-dd HH:mm:ss:SSS}] - [%-0.25t] - %-30c %x- %M - %L - [%-0.5p] | %m%n" />
		</layout>
	</appender>

	<appender name="file"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="../LOG/BluesheepApplication.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd-HH" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{yyyy-MM-dd HH:mm:ss:SSS}] - [%-0.25t] - %-30c %x- %M - %L - [%-0.5p] | %m%n" />
		</layout>
	</appender>

<!-- 	<appender name="arbitraggiAppender" -->
<!-- 		class="org.apache.log4j.DailyRollingFileAppender"> -->
<!-- 		<param name="file" -->
<!-- 			value="../LOG/BluesheepApplicationArbitraggi.log" /> -->
<!-- 		<param name="DatePattern" value="'.'yyyy-MM-dd-HH" /> -->
<!-- 		<param name="append" value="false" /> -->
<!-- 		<layout class="org.apache.log4j.PatternLayout"> -->
<!-- 			<param name="ConversionPattern" -->
<!-- 				value="[%d{yyyy-MM-dd HH:mm:ss:SSS}] - [%-0.25t] - %-30c %x- %M - %L - [%-0.5p] | %m%n" /> -->
<!-- 		</layout> -->
<!-- 	</appender> -->
	
<!-- 	<logger name="it.bluesheep.arbitraggi" additivity="false"> -->
<!-- 		<level value="info" /> -->
<!-- 		<appender-ref ref="arbitraggiAppender" /> -->
<!-- 	</logger> -->
	
<!-- 	<appender name="serviceHandlerAppender" -->
<!-- 		class="org.apache.log4j.DailyRollingFileAppender"> -->
<!-- 		<param name="file" -->
<!-- 			value="../LOG/BluesheepApplicationServiceHandler.log" /> -->
<!-- 		<param name="DatePattern" value="'.'yyyy-MM-dd-HH" /> -->
<!-- 		<param name="append" value="false" /> -->
<!-- 		<layout class="org.apache.log4j.PatternLayout"> -->
<!-- 			<param name="ConversionPattern" -->
<!-- 				value="[%d{yyyy-MM-dd HH:mm:ss:SSS}] - [%-0.25t] - %-30c %x- %M - %L - [%-0.5p] | %m%n" /> -->
<!-- 		</layout> -->
<!-- 	</appender> -->

<!-- 	<logger name="it.bluesheep.servicehandler" additivity="false"> -->
<!-- 		<level value="info" /> -->
<!-- 		<appender-ref ref="serviceHandlerAppender" /> -->
<!-- 	</logger> -->

<!-- 	<appender name="comparatoreAppender" -->
<!-- 		class="org.apache.log4j.DailyRollingFileAppender"> -->
<!-- 		<param name="file" -->
<!-- 			value="../LOG/BluesheepApplicationComparatore.log" /> -->
<!-- 		<param name="DatePattern" value="'.'yyyy-MM-dd-HH" /> -->
<!-- 		<param name="append" value="false" /> -->
<!-- 		<layout class="org.apache.log4j.PatternLayout"> -->
<!-- 			<param name="ConversionPattern" -->
<!-- 				value="[%d{yyyy-MM-dd HH:mm:ss:SSS}] - [%-0.25t] - %-30c %x- %M - %L - [%-0.5p] | %m%n" /> -->
<!-- 		</layout> -->
<!-- 	</appender> -->

<!-- 	<logger name="it.bluesheep.comparatore.io" additivity="false"> -->
<!-- 		<level value="info" /> -->
<!-- 		<appender-ref ref="comparatoreAppender" /> -->
<!-- 	</logger> -->

	<root>
		<level value="INFO" />
		<appender-ref ref="console"/>
<!-- 		<appender-ref ref="file" /> -->
	</root>
</log4j:configuration>